header{background-color: aquamarine;
text-align: center;
padding:20px}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
  }
  nav a:hover {
    color: #0d0e0d;
  }